.clearfix(){
  *zoom :1;
  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@icomconPath: '../font/icomoon/';
@font-face {
  font-family: 'icomoon';
  src:  url('@{icomconPath}/icomoon.eot');
  src:  url('@{icomconPath}/icomoon.eot') format('embedded-opentype'),
    url('@{icomconPath}/icomoon.ttf') format('truetype'),
    url('@{icomconPath}/icomoon.woff') format('woff'),
    url('@{icomconPath}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}


//
html{
  height: 100%;
  body{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 400px;
    font-size: medium;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei";
    background: white;
    color: rgba(50, 50, 50, 0.8);
    background-color: rgba(238, 238, 238, 1.00);


  }
}

#header {
  @headerHeight: 55px;
  position: fixed;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: @headerHeight;
  background-color: rgba(66, 133, 244, 1.0);
  z-index: 50;

//後面的任何元素
  + * {
    margin-top: @headerHeight;
  }

  .container{
    display: inline-block;
    max-width: 960px + 10px * 2;
    width: 100%;
    height: 100%;
    padding:0 10px;
    //background-color: rgba(0, 0, 255, 0.2);
    .clearfix();

    > * {
      display: inline-block;
      float: left;

      //border: 1px solid rgba(255, 0, 0, 0.3);
    }

    .logo {
      width: 150px;
      height: 100%;
      line-height: 55px;
      font-size: 30px;
      color: white;
      letter-spacing: 3px;
      text-align: left;
    }
    .avatar {
      width: 35px;
      height: 35px;
      margin-top: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .search {
      position: relative;
      width: ~"calc( 100% - 150px - 35px - 10px - 10px )";
      height: 100%;
      //background-color: rgba(0, 0, 255, 0.2);
      padding: 0 10px;
      label {
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 0 10px;
        line-height: 35px;
        cursor: pointer;
        //border: 1px solid rgba(255, 0, 0, .3);

      }
      input {

        width: 100%;
        height: 35px;
        margin-top: 10px;
        padding-left: 35px + 5px;
      }
      div {
        width: 50px;
        height: 50px;
      }
    }


  }

}

#article {
  margin-top: 55px;
  border: 1px solid rgba(255, 0, 0, 0.2);
}


// .cover {
//
//   display: inline-block;
//   position: relative;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 0, 0, .2);
//   .user{
//     display: inline-block;
//     position: absolute;
//     top: 100px;
//     left: 200px;
//     width: 52px;
//     height: 52px;
//     background-color: white;
//     box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
//     border-radius: 10px;
//     z-index: 10;
//   }
//
// }
